@import "../node_modules/basscss/css/basscss.css";


/*

.colorChange {
  animation: colorChange 20s infinite alternate;
}

.fillColorChange {
  animation: fillColorChange 1s infinite alternate;
}

@keyframes fillColorChange {
  0% { fill: #FFC54D; }
  100% { fill: #292929; }
}

@keyframes bgColorChange {
  0% { background-color: #F04DFF; }
  25%  { background-color: #FF4D4D; }
  50% { background-color: #FFC54D; }
  75% { background-color: #6AED76; }
  100% { background-color: #6AC4ED; }
}

@keyframes colorChange {
  0% { color: #F04DFF; }
  25%  { color: #FF4D4D; }
  50% { color: #FFC54D; }
  75% { color: #6AED76; }
  100% { color: #6AC4ED; }
}

@keyframes borderColorChange {
  0% { border-color: #F04DFF; }
  25% { border-color: #FF4D4D; }
  50% { border-color: #FFC54D; }
  75% { border-color: #6AED76; }
  100% { border-color: #6AC4ED; }
} */
